{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="starter-template">
    <h1>BFUU Script Builder</h1>
    <p class="lead">Fill the fields below with information about an upcomming service.<br> 
      A script for the service will be built and displayed.</p>
  </div>
  <div class="form">
    <form method="POST" action="{{url_for('index')}}">
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="date_of_service" class="form-label">Date Of Service:</label>
            <input type="date" class="form-control" id="date_of_service" name="date_of_service">
          </div>
          <div class="mb-3">
            <label for="service_title" class="form-label">Service Title:</label>
            <input type="text" class="form-control" id="service_title" name="service_title">
          </div>
          <div class="mb-3">
            <label for="speaker_name" class="form-label">Speaker Name:</label>
            <input type="text" class="form-control" id="speaker_name" name="speaker_name">
          </div>
          <div class="mb-3">
            <label>Prelude Hymn Number</label>
            <input type="number" class="form-control" name="prelude_hymn_number">
          </div>
          <div class="mb-3">
            <label>First Hymn Number</label>
            <input type="number" class="form-control" name="first_hymn_number">
          </div>
          <div class="mb-3">
            <label>Second Hymn Number</label>
            <input type="number" class="form-control" name="second_hymn_number">
          </div>
          <div class="mb-3">
            <label>Final Hymn Number</label>
            <input type="number" class="form-control" name="final_hymn_number">
          </div>  
          <div class="mb-3">
            <label>Principle Or Source Number</label>
            <input type="text" class="form-control" name="principle_or_source_number">
          </div>
          <div class="mb-3">
            <label>Principle Or Source</label>
            <input type="text" class="form-control" name="principle_or_source">
          </div>
          <div class="mb-3">
            <label>Principle Or Source Text</label>
            <textarea class="form-control" name="principle_or_source_text"></textarea>
          </div>
          <div class="mb-3">
            <label>Opening Words</label>
            <input type="text" class="form-control" name="opening_words">
          </div>
          <div class="mb-3">
            <label>Meditation Reading</label>
            <input type="text" class="form-control" name="meditation_reading">
          </div>
          <div class="mb-3">
            <label>Shared Plate Partner</label>
            <input type="text" class="form-control" name="shared_plate_partner">
          </div>
          <div class="mb-3">
            <label>Shared Plate Partner Text</label>
            <textarea class="form-control" name="shared_plate_partner_text"></textarea>
          </div>    
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="liturgist_name" class="form-label">Liturgist Name:</label>
            <input type="text" class="form-control" id="liturgist_name" name="liturgist_name">
          </div>
          <div class="mb-3">
            <label>Coordinator Name</label>
            <input type="text" class="form-control" name="coordinator_name">
          </div>
          <div class="mb-3">
            <label>Zoom Host Name</label>
            <input type="text" class="form-control" name="zoom_host_name">
          </div>
          <div class="mb-3">
            <label>Metta Singer</label>
            <input type="text" class="form-control" name="metta_singer">
          </div>
          <div class="mb-3">
            <label>Slide Manager Name</label>
            <input type="text" class="form-control" name="slide_manager_name">
          </div>
          <div class="mb-3">
            <label>Readers Names</label>
            <input type="text" class="form-control" name="readers_names">
          </div>
          <div class="mb-3">
            <label>Singers Names</label>
            <input type="text" class="form-control" name="singers_names">
          </div>
          <div class="mb-3">
            <label>Circle Round Singer</label>
            <input type="text" class="form-control" name="circle_round_singer">
          </div>  
        </div>
      </div>
      <div class="mb-3 p-5">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div><!-- /.container -->
{% endblock %}
